body {
    font-family: sans-serif;
    margin: 20px;
  }
  input, button {
    margin: 5px;
  }
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  .container {
    max-width: 420px; /* largura comum de celulares */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px;
  }
  
  .logo-icon {
    height: 40px;
  }
  
  .logo-text-block {
    display: flex;
    flex-direction: column;
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 2px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .input-row {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  
  .input-row input {
    flex: 1;
    min-width: 0; /* evita estouro lateral */
    box-sizing: border-box;
  }

  .botoes-acao {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
  }

  .tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;

  }
  
  .tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    max-width: 100px;
  }
  
  .tabela td {
    font-weight: normal;
  }


  .tabela tr:first-child th {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .tabela tr:last-child td {
    border-bottom: none;
  }

  .btn-delete {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #c00;
  }
  
  .btn-delete:hover {
    color: #f00;
  }